/**
 * Border box
 */
*,
:before,
:after {
	box-sizing: border-box;
}

/**
 * General styling
 */
html {
	background: $color-body-bg;
	font-size: 100%;
}

body {
	// font: #{$font-size-default}/#{$line-height-default} $font-family-default; // Doesn't work in IE :/
	font-size: $font-size-default;
	line-height: $line-height-default;
	font-family: $font-family-default;
	font-weight: $font-weight-default;

	color: $color-text;

	word-wrap: break-word;
	hyphens: auto;
	-webkit-font-smoothing: antialiased;
}

/**
 * Paragraphs, lists, quotes etc
 */
p {
	margin: 0 0 $margin-default;
}

ul,
ol {
	margin: 0 0 $margin-default $margin-large;
	padding: 0;

	@include rtl {
		margin: 0 $margin-large $margin-default 0;
	}
}

dl {
	margin: 0 0 $margin-default;
}

blockquote,
q {
	font-size: $font-size-large;
	margin: 0;
}

pre {
	background: #fafafa;
	margin: 0 0 $margin-default;
	padding: $padding-default;
	max-height: 300px;
	overflow: auto;
	color: #111;
}

/**
 * Inline elements
 */
small {
	font-size: $font-size-small;
}

/**
 * Images, iframes etc
 */
img,
svg {
	max-width: 100%;
	height: auto;
}

iframe {

}

hr {
	clear: both;

	margin: $margin-default 0;
	padding: 0;

	height: 0;

	border: 0;
	border-top: 1px solid $color-border;

	@media #{$bp-medium} {
		margin: ($margin-large) 0;
	}
}
