/**
 * Border box
 */
* {
	box-sizing: border-box;
}

/**
 * General styling
 */
html {
	background: $color-body-bg;
	font-size: 100%;
}

body {
	// font: #{$font-size-default}/#{$line-height-default} $font-family-default; // Doesn't work in IE :/
	font-size: $font-size-default;
	line-height: $line-height-default;
	font-family: $font-family-default;
	color: $color-text;
	word-wrap: break-word;
	font-weight: $font-weight-default;
}

/**
 * Paragraphs, lists, quotes etc
 */
p {
	margin: 0 0 $margin-default;
}

ul,
ol {
	margin: 0 0 $margin-default ($margin-default * 2);
	padding: 0;
}

blockquote,
q {
	font-size: $font-size-large;
	margin: 0;
}

blockquote {
	> :first-child:before,
	> :last-child:after {
		content: open-quote;
		line-height: 1;
	}

	> :last-child:after {
		content: close-quote;
	}
}

pre {
	background: #fafafa;
	color: #111;
	padding: 1rem;
	max-height: 300px;
	overflow: auto;
}

/**
 * Inline elements
 */
small,
.text--small {
	font-size: $font-size-small;
}

.text--large {
	font-size: $font-size-large;
}

/**
 * Images, iframes etc
 */
img,
svg {
	max-width: 100%;
	height: auto;
}

iframe {

}

hr {
	margin: $margin-default 0;
	padding: 0;
	height: 0;
	border: 0;
	border-top: 1px solid $color-border;

	@media #{$bp-medium} {
		margin: ($margin-default * 2) 0;
	}
}
