/***
    title: Background Colors
    section: Colors
    description: Use to apply a background color to an element. Add your colors to the $bg-colors array in config/_bg-colors.scss.
    example:
        <div class="bg--white">I have a white background color</div>
***/
@each $color in $bg-colors {
	.bg--#{nth($color, 1)} {
		background-color: #{nth($color, 2)};
	}
}
