/***
    title: Button
    section: Buttons
    description: Use to create buttons. Buttons come in various sizes and colors. Add more colors and customize your buttons in config/_button.scss.
    example:
        <p><a href="#" class="button">I'm a normal button</a></p>
        <p><button>Button elements automatically look like buttons</button></p>
        <p><input type="submit" value="Submit inputs too!"></p>
        <p><button class="button--wide">Full width!</button></p>
        <p><a href="#" class="button">Continue</a> <a href="#" class="button button--gray">Cancel</a></p>
        <p><a href="#" class="button button--small">Small button</a></p>
***/
@mixin button-background ($color) {
	// If a gradient is specified
	@if ($button-gradient > 0) {
		background-image: linear-gradient($color, darken($color, $button-gradient));

		// TODO: Something here?
		&:hover {
			background-image: linear-gradient($color, darken($color, $button-gradient));
		}

		// Invert gradient on active
		&:active {
			background-image: linear-gradient(darken($color, $button-gradient), $color);
		}
	}
	// Solid background
	@else {
		background-color: $color;

		// Darken on hover
		&:hover {
			background-color: darken($color, 5%);
		}

		// Darken even more on active
		&:active {
			background-color: darken($color, 10%);
		}
	}

	// Invert text color if button too light
	@if (lightness($color) > 70) {
		color: invert($button-text-color);

		&:hover {
			color: invert($button-text-color);
		}
	}

	// Border?
	@if ($button-border-width) {
		$border-color: transparent;

		@if ($button-border-color == true) {
			$border-color: darken($color, 10%);
		}
		@elseif ($button-border-color) {
			$border-color: $button-border-color;
		}

		border: $button-border-width $button-border-style $border-color;
	}
	@else {
		border: 0;
	}
}

@mixin button {
	// Gradient or solid background with hover/active states
	@include button-background($button-color);

	// Hello
	display: inline-block;
	vertical-align: middle;

	// Size
	box-sizing: border-box;
	padding: $button-padding-vertical $button-padding-horizontal;

	&:empty:not([value]) {
		padding-left: $button-empty-padding-horizontal;
		padding-right: $button-empty-padding-horizontal;
	}

	// Font styling
	font-size: $button-font-size;
	line-height: $button-line-height;
	color: $button-text-color;
	font-weight: $button-font-weight;
	text-transform: $button-text-transform;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

	&:hover {
		color: $button-text-color;
		text-decoration: none;
	}

	// Radius
	border-radius: $button-border-radius;

	// Transition?
	@if ($button-transition == true) {
		transition: all .1s ease-out;
	}
	@elseif ($button-transition) {
		transition: $button-transition;
	}

	// Text shadow?
	@if ($button-text-shadow == true) {
		text-shadow: -1px -1px 0 $color-shadow;
	}
	@elseif ($button-text-shadow) {
		text-shadow: $button-text-shadow;
	}
	@else {
		text-shadow: none;
	}

	// Box shadow?
	@if ($button-shadow == true) {
		box-shadow: 1px 1px 1px $color-shadow;
	}
	@elseif ($button-shadow) {
		box-shadow: $button-shadow;
	}
	@else {
		box-shadow: none;
	}
}

// Button class and submits
.button,
input[type=submit],
button {
	@include button;
}

.button--ghost {
	background-color: transparent;
	color: $button-color;
	border: $button-border-width $button-border-style $button-color;

	&:hover {
		background-color: $button-color;

		@if (lightness($button-color) > 70) {
			color: invert($button-text-color);
		}
		@else {
			color: $button-text-color;
		}
	}
}

// Button colors
@each $bc in $button-colors {
	.button--#{nth($bc, 1)} {
		@include button-background(nth($bc, 2));

		&.button--ghost {
			background-color: transparent;
			color: nth($bc, 2);
			border-color: nth($bc, 2);

			&:hover {
				background-color: nth($bc, 2);

				@if (lightness(nth($bc, 2)) > 70) {
					color: invert($button-text-color);
				}
				@else {
					color: $button-text-color;
				}
			}
		}
	}
}

// Small
.button--small {
	font-size: $font-size-small;
	padding: #{$button-padding-vertical * .8} #{$button-padding-horizontal * .8};
}

// Large
.button--large {
	font-size: $font-size-large;
}

// Wide
.button--wide {
	display: block;
	width: 100%; // In case it's used on an input[type=submit]
}
