/***
    title: Forms
    section: Forms
    description: Form styling.
    example:
        <form method="post" action="">
            <p>
                <label>
                    Name<br>
                    <input type="text" name="name" placeholder="eg. John Doe">
                </label>
            </p>
            <p>
                <label>
                    Email<br>
                    <input type="email" name="email" placeholder="eg. john.doe@example.com">
                </label>
            </p>
            <p>
                <label>
                    Message<br>
                    <textarea name="message" rows="3" cols="60" placeholder="Write your message here"></textarea>
                </label>
            </p>
            <p><input type="submit" value="Go"></p>
        </form>
***/
// To avoid having to write them all below
$form-fields: "input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], textarea";

// Form field mixin
@mixin form-field () {
	background: $color-form-field-bg;

	display: inline-block;
	vertical-align: middle;

	box-sizing: border-box;
	max-width: 100%;

	margin: 0;
	padding: $form-padding-vertical $form-padding-horizontal;

	font-size: $font-size-default;
	color: $color-form-text;
	line-height: 1.2\9;

	-moz-appearance: none;
	-webkit-appearance: none;

	@if ($form-border == true) {
		border: 1px solid $color-border;
	}
	@elseif ($form-border) {
		border: $form-border;
	}
	@else {
		border: 0;
	}

	// outline: 0;
	border-radius: $form-border-radius;

	&:hover,
	&:focus {
		border-color: darken($color-border, 10%);
	}

	width: 100%;
}

// A global form message (before the form)
p.message {
	&.success {
		color: $color-form-success;
	}

	&.error {
		color: $color-form-error;
	}
}

form {
	margin: 0;

	// Error messages
	strong.error {
		display: block;
		margin-top: $margin-small;
		color: $color-form-error;
	}

	// "Mandatory"-*
	abbr,
	abbr[title] {
		color: $color-form-error;
		border-bottom: 0;
	}
}

.form__field {
	margin-bottom: $margin-default;
}

// Labels
label {
	display: block;
}

// Fields
#{$form-fields} {
	@include form-field;
}

input[type=search] {
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

input[type=radio],
input[type=checkbox] {
	margin-right: .4rem;

	[dir=rtl] & {
		margin-right: 0;
		margin-left: .4rem;
	}
}

textarea {
	resize: y;
	max-width: 100%;
}

select {
	box-sizing: border-box;
	max-width: 100%;
}

// Placeholder
::placeholder {
	color: $color-form-placeholder;
}

// Buttons
input[type=submit],
button {
	outline: 0;
}

// Connected form fields
form .form__connected-fields {
	@include clearfix;

	> * {
		float: left;
		width: auto;
		min-height: 3.2rem; // Slight hack, need to be same as form fields
	}
}
