/***
    title: List
    section: Lists
    description: Various classes you can use on lists, or list like markup.
    example:
        <h2>Pipe separated</h2>
        <ul class="list--pipe-separated">
            <li>Pipes</li>
            <li>Separate</li>
            <li>Me</li>
        </ul>
        <h2>Inline list</h2>
        <ul class="list--inline text--center">
            <li>Inline list</li>
            <li>Inline list</li>
            <li>Inline list</li>
            <li>Inline list</li>
        </ul>
***/
// Pipe separated list
.list--pipe-separated {
	@include separated-list(' | ');
}

// Inline list
@mixin inline-list ($width: false) {
	margin-left: 0;
	list-style: none;

	> * {
		display: inline-block;
		margin-right: $margin-small;
		margin-bottom: $margin-small;

		@if ($width) {
			width: $width;
		}
	}

	.text--center &,
	&.text--center {
		> * {
			margin: 0 ($margin-small / 2);
		}
	}
}
.list--inline {
	@include inline-list;
}

// Border separated list
@mixin bordered-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

	> :not(:last-child) {
		margin-bottom: $margin-small;
		padding-bottom: $margin-small;
		border-bottom: 1px solid $color-border;
	}
}

.list--border {
	@include bordered-list;
}
