/***
    title: Primary/Secondary
    section: Grid
    description: Super basic primary/secondary content columns when you really don't need an entire grid system.
    example:
        <div class="box box__content">
            <div class="primary-content">
                <p>Primary content here</p>
            </div>
            <div class="secondary-content">
                <p>Secondary content here</p>
            </div>
        </div>
        <div class="box box__content">
            <div class="secondary-content">
                <p>Reversed order here</p>
            </div>
            <div class="primary-content">
                <p>Primary content here</p>
            </div>
        </div>
***/
@media #{$bp-medium} {
	.primary-content {
		width: 60%;
		float: left;
	}

	.secondary-content {
		width: 35%;
		float: left;
	}

	.primary-content + .secondary-content {
		margin-left: 5%;
	}

	.secondary-content + .primary-content {
		margin-left: 5%;
	}

	.primary-content + .secondary-content + * {
		clear: both;
	}

	.secondary-content + .primary-content + * {
		clear: both;
	}
}

@media #{$bp-medium-max} {
	.primary-content,
	.secondary-content {
		margin-bottom: $margin-default;
	}
}
