/**
 * @section
 *
 * Creates a full width section with centered content based on preferred site width
 *
 * @param	color	$bg: section background color
 */
@mixin section ($width: $site-width) {
	@include clearfix;

	display: block;
	position: relative;

	margin: 0;
	padding-top: $section-padding;
	padding-bottom: $section-padding;

/*	@media #{$bp-medium} {
		padding-top: $section-padding--bp-medium;
		padding-bottom: $section-padding--bp-medium;
	} */

	@include section-centering($width);
}

/**
 * @unsection
 *
 * Utility mixin for removing section styling
 */
@mixin unsection {
	background: transparent;
	padding: 0;
}

/**
 * @section-centering
 *
 * Takes care of centering the section content using padding and calc
 */
@mixin section-centering ($width: $site-width) {
	padding-left: (100% - $site-width-max) / 2;
	padding-right: (100% - $site-width-max) / 2;

	@media (min-width: $width + 100) {
		padding-left: calc(50% - #{$width / 2});
		padding-right: calc(50% - #{$width / 2});

	}
}

/**
 * @section-right
 *
 * Positions an element at the right edge of the inner content of the section
 */
@mixin section-right ($width: $site-width) {
	right: (100% - $site-width-max) / 2;

	@media (min-width: $width + 100) {
		right: calc(50% - #{$width / 2});
	}
}

/**
 * @section-left
 *
 * Positions an element at the left edge of the inner content of the section
 */
@mixin section-left ($width: $site-width) {
	left: (100% - $site-width-max) / 2;

	@media (min-width: $width + 100) {
		left: calc(50% - #{$width / 2});
	}
}

/**
 * @section-bottom
 *
 * Positions an element at the bottom edge of the inner content of the section
 */
@mixin section-bottom {
	bottom: $section-padding;

	/* @media #{$bp-medium} {
		bottom: $section-padding--bp-medium;
	} */
}

/**
 * @section-top
 *
 * Positions an element at the top edge of the inner content of the section
 */
@mixin section-top {
	top: $section-padding;

	/* @media #{$bp-medium} {
		top: $section-padding--bp-medium;
	} */
}

/**
 * @section-inner
 *
 * Creates a section within a section, so you can have an article as section, and article header as an inner section for example
 *
 * @param	string	$align: top/bottom; if you want to pull it up towards the top or down towards the bottom
 */
@mixin section-inner ($align: false, $width: $site-width) {
	// We're so clever
	box-sizing: border-box;
	width: 100vw; // GAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH Why does Chromes count the fucking scrollbar!=? - OK, all browsers except FF seem to do that (stoopid) but we can set body overflow-x hidden so... (https://bugzilla.mozilla.org/show_bug.cgi?id=811403)
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	// Centering
	padding-left: #{strip-units((100% - $site-width-max) / 2)}vw;
	padding-right: #{strip-units((100% - $site-width-max) / 2)}vw;

	@media (min-width: $width + 100) {
		padding-left: calc(50vw - #{$width / 2});
		padding-right: calc(50vw - #{$width / 2});
	}

	// Some padding
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	margin-top: $section-padding;
	margin-bottom: $section-padding;

	@if ($align == top) {
		margin-top: -$section-padding;
	}
	@if ($align == bottom) {
		margin-bottom: -$section-padding;
	}

	/* @media #{$bp-medium} {
		padding-top: $section-padding--bp-medium;
		padding-bottom: $section-padding--bp-medium;
		margin-top: $section-padding--bp-medium;
		margin-bottom: $section-padding--bp-medium;

		@if ($align == top) {
			margin-top: -$section-padding--bp-medium;
		}
		@if ($align == bottom) {
			margin-bottom: -$section-padding--bp-medium;
		}
	} */
}

/**
 * @section-border-centering
 *
 * Same as @section-centering but uses border instead of padding
 */
@mixin section-border-centering ($width: $site-width) {
	padding-left: 0;
	padding-right: 0;
	border-left: #{strip-units((100% - $site-width-max) / 2)}vw solid transparent;
	border-right: #{strip-units((100% - $site-width-max) / 2)}vw solid transparent;

	@media (min-width: $width + 100) {
		padding-left: 0;
		padding-right: 0;
		border-left-width: calc(50vw - #{$width / 2});
		border-right-width: calc(50vw - #{$width / 2});
	}
}

/***
    title: Section
    section: Layout
    description: Creates a full width section with centered content (based on site-width).
    example:
        <div class="section bg--blue">
            <h2>I'm a section</h2>
            <p>With some content</p>
        </div>
***/
.section {
	@include section;

	// Inner section
	&__inner {
		@include section-inner;

		&--top {
			@include section-inner(top);
		}

		&--bottom {
			@include section-inner(bottom);
		}
	}

	// Slanted sections
	&--slanted {
		clip-path: $top-bottom-slant;
		padding-top: $section-slant + $section-padding;
		padding-bottom: $section-slant + $section-padding;

		&-top {
			clip-path: $top-slant;
			padding-top: $section-slant + $section-padding;
		}

		&-bottom {
			clip-path: $bottom-slant;
			padding-bottom: $section-slant + $section-padding;
		}
	}
}
