.separated--bottom {
    padding-bottom: $padding-default;
    margin-bottom: $margin-large;
    border-bottom: 1px solid $color-border;
}

.separated--top {
    padding-top: $padding-default;
    margin-top: $margin-large;
    border-top: 1px solid $color-border;
}
