@mixin table-grid ($gutter: $gutter-default, $border: false, $bp: $bp-medium) {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

	> * {
		display: block;
	}

	@if ($border == true) {
		> :not(:last-child) {
			margin-bottom: $margin-default;
			padding-bottom: $margin-default;
			border-bottom: 1px solid $color-border;
		}
	}
	@elseif ($border) {
		> :not(:last-child) {
			margin-bottom: $margin-default;
			padding-bottom: $margin-default;
			border-bottom: $border;
		}
	}

	@media #{$bp} {
		display: table;
		table-layout: fixed;

		margin-left: -$gutter / 2;
		margin-right: -$gutter / 2;

		width: 100%;
		width: calc(100% + #{$gutter});

		> * {
			display: table-cell;
			vertical-align: top;
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;

			@if ($border == true) {
				&:not(:last-child) {
					border-right: 1px solid $color-border;
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
			@elseif ($border) {
				&:not(:last-child) {
					border-right: $border;
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: 0;
				}
			}
		}
	}
}

.table-grid {
	@include table-grid;
}

.table-grid--bp-medium {
	@include table-grid($gutter-default, false, $bp-medium);
}
