.alignleft,
.alignright,
.alignnone {
	display: block;
	width: 100%;
	margin-bottom: $margin-default;
}

.wp-caption {
	background: $color-lightgray;
	display: block;
	width: 100%;
	margin: 0 0 $margin-default;

	img {
		display: block;
		width: 100%;
	}

	figcaption {
		padding: .5rem;
	}
}

@media #{$bp-medium} {
	.alignleft {
		float: left;
		width: auto;
		margin: 0 $margin-default $margin-default 0;
	}

	.alignright {
		float: right;
		width: auto;
		margin: 0 0 $margin-default $margin-default;
	}
}
