/***
    title: Card
    section: Layout
    description: A simple box/card. Can be used with the bg-classes.
    example:
        <div class="card bg--white">I'm a shadowed card</div>
***/
@mixin card ($bg: false) {
	@if ($bg) {
		background-color: $bg;
	}

	display: block;
	margin-bottom: $card-margin;
	padding: $card-padding;

	box-shadow: $card-shadow;
}

.card {
	@include card;
}
