/***
    title: Forms
    section: Forms
    description: Form styling.
    example:
        <form method="post" action="">
            <p>
                <label>
                    Name<br>
                    <input type="text" name="name" placeholder="eg. John Doe">
                </label>
            </p>
            <p>
                <label>
                    Email<br>
                    <input type="email" name="email" placeholder="eg. john.doe@example.com">
                </label>
            </p>
            <p>
                <label>
                    Sex<br>
                    <select name="sex">
                        <option value="f">Female</option>
                        <option value="m">Male</option>
                    </select>
                </label>
            </p>
            <p>
                <label>
                    Age<br>
                    <input type="range" name="age" min="1" max="150">
                </label>
            </p>
            <p>
                <label>
                    Message<br>
                    <textarea name="message" rows="3" cols="60" placeholder="Write your message here"></textarea>
                </label>
            </p>
            <p><input type="submit" value="Go"></p>
        </form>
***/
// To avoid having to write them all below
$form-fields: "input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], textarea";

// Form field mixin
@mixin form-field () {
	background: $color-form-field-bg;

	display: inline-block;
	vertical-align: middle;

	box-sizing: border-box;
	width: 100%;

	margin: 0;
	padding: $form-padding-vertical $form-padding-horizontal;

	font-size: $button-font-size;
	color: $color-form-text;
	line-height: normal;

	appearance: none;

	@if ($form-border == true) {
		border: 1px solid $color-border;
	}
	@elseif ($form-border) {
		border: $form-border;
	}
	@else {
		border: 0;
	}

	// outline: 0;
	border-radius: $form-border-radius;

	&:hover,
	&:focus {
		@if ($form-border == true) {
			border-color: darken($color-border, 10%);
		}
	}
}

// A global form message (before the form)
p.message {
	&.success {
		color: $color-form-success;
	}

	&.error {
		color: $color-form-error;
	}
}

form {
	margin: 0;

	// Error messages
	strong.error {
		display: block;
		margin-top: $margin-small;
		color: $color-form-error;
	}

	// "Mandatory"-*
	abbr,
	abbr[title] {
		color: $color-form-error;
		border-bottom: 0;
	}
}

.form__field,
.captcha-wrap {
	margin-bottom: $margin-default;
}

// Labels
label {
	display: block;

	span.value {
		float: right;
	}
}

// Fields
#{$form-fields} {
	@include form-field;
}

// Hide search UI
input[type=search] {
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

// Radio/checkbox margin
input[type=radio],
input[type=checkbox] {
	margin: 0 0 $icon-margin;

	[dir=rtl] & {
		margin-right: 0;
		margin-left: $icon-margin;
	}
}

textarea {
	resize: y;
	max-width: 100%;
}

// Placeholder
::placeholder {
	color: $color-form-placeholder;
}

// Buttons
input[type=submit],
button {
	outline: 0;
	line-height: normal;
}

// Select
@if ($form-select-arrow) {
	select {
		appearance: none;

		background: $color-form-field-bg url($form-select-arrow) no-repeat calc(100% - .5rem) 50%;
		background-size: $form-select-arrow-size auto;

		box-sizing: border-box;
		width: 100%;

		padding: $form-padding-vertical ($form-padding-horizontal + $form-select-arrow-size + $padding-default) $form-padding-vertical $form-padding-horizontal;

		font-size: $button-font-size;
		color: $color-form-text;
		line-height: normal;

		@if ($form-border == true) {
			border: 1px solid $color-border;
		}
		@elseif ($form-border) {
			border: $form-border;
		}
		@else {
			border: 0;
		}

		@if ($form-border-radius) {
			border-radius: $form-border-radius;
		}
		@else {
			border-radius: 0;
		}
	}
}

// Range input (http://www.hongkiat.com/blog/html5-range-slider-style/)
@mixin range-thumb {
	appearance: none;

	width: $form-range-thumb-radius * 2;
	height: $form-range-thumb-radius * 2;

	@if ($form-range-border == true) {
		border: 1px solid $color-border;
	}
	@elseif ($form-range-border) {
		border: $form-range-border;
	}
	@else {
		border: 0;
	}

	@if ($form-range-thumb-shadow == true) {
		box-shadow: 0 .2rem .2rem $color-shadow;
	}
	@elseif ($form-range-thumb-shadow) {
		box-shadow: $form-range-thumb-shadow;
	}

	cursor: pointer;
	outline: 0;
	border-radius: $form-range-thumb-border-radius;

	&:focus {
		outline: 0;
	}
}

@mixin range-track {
	appearance: none;

	width: 100%;
	height: $form-range-height;
	padding: 0;

	@if ($form-range-border == true) {
		border: 1px solid $color-border;
	}
	@elseif ($form-range-border) {
		border: $form-range-border;
	}
	@else {
		border: 0;
	}

	outline: 0;
	border-radius: $form-range-border-radius;

	&:focus {
		outline: 0;
	}
}

@mixin range-color ($track-color, $thumb-color) {
	// The track
	&::-webkit-slider-runnable-track {
		background: $track-color;
	}

	&::-ms-track {
		background: $track-color;
		color: $track-color;
	}

	&::-ms-fill-lower {
		background: $track-color;
		color: $track-color;
	}

	&::-ms-fill-upper {
		background: $track-color;
		color: $track-color;
	}

	&::-moz-range-track {
		background: $track-color;
	}

	// The thumbs
	&::-webkit-slider-thumb {
		background: $thumb-color;
	}

	&::-moz-range-thumb {
		background: $thumb-color;
	}

	&::-ms-thumb {
		background: $thumb-color;
	}
}

input[type=range] {
	appearance: none;

	@include range-color($form-range-bg, $form-range-thumb-bg);

	background: transparent;
	width: 100%;
	height: $form-range-thumb-radius * 2;
	padding: 0;
	border: 0;

	&:focus {
		outline: 0;
	}

	&::-moz-focus-outer {
		border: 0;
	}

	// The track
	&::-webkit-slider-runnable-track {
		@include range-track;
	}

	&::-ms-track {
		@include range-track;
	}

	&::-ms-fill-lower {
		@include range-track;
	}

	&::-ms-fill-upper {
		@include range-track;
	}

	&::-moz-range-track {
		@include range-track;
	}

	// The thumbs
	&::-webkit-slider-thumb {
		@include range-thumb;
		margin-top: -($form-range-thumb-radius - $form-range-height / 2);
	}

	&::-moz-range-thumb {
		@include range-thumb;
	}

	&::-ms-thumb {
		@include range-thumb;
		transform: translateY($form-range-height);
	}
}
