/***
    title: Icon
    section: Icons
    description: Use to add icons to elements. Icons added to empty elements will have zero spacing around them whereas icons added to elements with content will have some spacing. Add icons to the icons.json file (using fontello.com) and Gulp takes care of the rest.
    example:
        <p>
            <a href="#" class="icon-facebook">Facebook</a>
            <a href="#" class="icon-twitter">Twitter</a>
            <a href="#" class="icon-facebook icon--round" title="Facebook"></a>
            <a href="#" class="icon-twitter icon--round" title="Twitter"></a>
            <button class="icon-search">Find</button>
            <a href="#" class="icon-right icon--after">Icon after text</a>
        </p>

        <ul class="cols cols--2">
            <li class="icon-facebook icon--above">Facebook</li>
            <li class="icon-twitter icon--above">Twitter</li>
        </ul>
***/
// Taken directly from fontello.scss
@mixin icon ($iconCode: '[NO-ICON]') {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	content: $iconCode;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/**
 * Some icon tweaks and margins
 */
[class^="icon-"],
[class*="icon-"] {
	&:before,
	&:after {
		text-decoration: none;
	}

	// Separate icons and text
	&:before {
		margin: 0 $icon-margin 0 0;
	}

	// Other way for icons after text
	&.icon--after:after {
		margin: 0 0 0 $icon-margin;
	}

	// No margin around empty icons
	&:empty:after,
	&:empty:before {
		margin: 0;
	}
}

/**
 * Large icon
 */
.icon--large {
	&:before,
	&.icon--after:after {
		font-size: $icon-large-size;
	}
}


/**
 * Icon Above
 */
[class^="icon-"],
[class*="icon-"] {
	&.icon--above {
		display: inline-block;
		text-align: center;

		&:before {
			display: block;
			margin: 0 auto $margin-small;
			font-size: $icon-large-size;
		}
	}
}

[class^="icon-"],
[class*="icon-"] {
	&.icon--after.icon--below {
		display: inline-block;
		text-align: center;

		&:after {
			display: block;
			margin: 0 auto;
			font-size: $icon-large-size;
		}
	}
}


/**
 * Spinner
 */
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.icon-spinner:before,
.icon-spinner.icon--after:after {
	animation: spin 1.5s infinite linear;
}

/**
 * Round icon
 * TODO: icon--round should be exactly like buttons (with :hover/:active --ghost and different colors)
 */
@mixin icon-round ($irc: $icon-round-color) {
	display: inline-block;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&:before,
	&.icon--after:after {
		background: $irc;

		width: $icon-round-size;
		height: $icon-round-size;

		// line-height: $icon-round-size;
		text-align: center;
		color: $color-white;
		text-shadow: none;

		// Vertical align (instead of line-height)
		display: inline-flex;
		align-items: center;
		justify-content: center;

		border-radius: 50%;
		transition: all .2s ease-out;
	}

	&:hover:before,
	&.icon--after:hover:after {
		background: rgba($irc, .2);
		color: $irc;
	}

	&.icon--above,
	&.icon--below {
		display: flex;
	}
}

[class^="icon-"],
[class*="icon-"] {
	&.icon--round {
		@include icon-round;

		&--ghost:before,
		&--ghost.icon--after:after {
			background: transparent;
			color: $icon-round-color;
			border: 1px solid $icon-round-color;
		}

		&--ghost:hover:before,
		&--ghost.icon--after:hover:after {
			background: rgba($icon-round-color, .2);
		}
	}
}

/* a.icon--round:hover,
a:hover .icon--round {
	&:before,
	&.icon--after:after {
		border-radius: .2rem;
	}
} */

/**
 * Icon colors
 */
@each $color in $icon-colors {
	[class^="icon-"],
	[class*="icon-"] {
		&.icon--#{nth($color, 1)} {
			&:before {
				color: nth($color, 2);
			}
		}

	 	&.icon--after.icon--#{nth($color, 1)} {
			&:after {
				color: nth($color, 2);
			}
		}

		// TODO: Support for icon--after
	 	&.icon--round--#{nth($color, 1)} {
			&:before {
				background-color: nth($color, 2);
			}

			&.icon--round--ghost:before {
				background-color: transparent;
				color: nth($color, 2);
				border-color: nth($color, 2);
			}

			&:hover:before {
				background-color: rgba(nth($color, 2), .2);
				color: nth($color, 2);
			}

			&.icon--round--ghost:hover:before {
				background-color: rgba(nth($color, 2), .2);
			}
		}
	}
}
