/***
    title: Images
    section: Images
    description: Various helper classes for styling images.
    example:
        <img src="http://placehold.it/100x100" class="img--round"> <img src="http://placehold.it/100x100" class="img--rounded">
***/
.img--round {
	border-radius: 50%;
}

.img--rounded {
	border-radius: .4rem;
}

.img--grayscale {
	filter: grayscale(100%);
}
