/***
    title: Link
    section: Links
    description: Link styling. You can use the link class to make anything look like a link.
    example:
        <a href="#">Normal link</a>
        <span class="link">Not a link at all</span>
        <a href="#" class="link--neutral">Link that looks like text</a>
        <a href="#" class="link--underline">Link with underline</a>
***/
a,
.link {
	cursor: pointer;
	color: $color-link;
	text-decoration: $text-decoration-link;

	&:hover {
		color: $color-link-hover;
		text-decoration: $text-decoration-link-hover;
	}

	&[role=button],
	&[href^="#"] {
		&:focus {
			outline: 0;
		}
	}
}

.link--neutral {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.link--neutral--hover {
	color: inherit;

	&:hover {
		color: $color-link-hover;
		text-decoration: $text-decoration-link-hover;
	}
}

.link--no-underline {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.link--underline {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
