// TODO!!
$pane-width: 80%;
$pane-max-width: 30rem;

.pane__overlay {
	background: rgba($color-overlay, 0);

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 100;

	transform: translateX(-100%);
	transition: background .2s 0s ease-out, transform 0s .2s linear;

	&.open {
		background: $color-overlay;
		transform: translateX(0);
		z-index: 101;
		transition: transform 0s linear, background .2s ease-out;
	}
}

.pane {
	background: $color-white;

	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 100;

	width: $pane-width;
	max-width: $pane-max-width;

	transform: translateX(-100%);
	transition: transform .2s .2s ease-out;

	// Right aligned
	&--right {
		left: auto;
		right: 0;
		transform: translateX(100%);

		.pane__toggle {
			left: auto;
			right: 100%;
		}
	}

	// When open
	&.open {
		transform: translateX(0);
		z-index: 101;
	}

	// Toggle Button
	&__toggle {
		position: absolute;
		left: 100%;
		top: $padding-default;
	}
}
