.popup {
	background: $color-overlay;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0s .2s linear, opacity .2s 0s ease-out;

	// When open
	&:target,
	&.open {
		transition: transform 0s 0s linear, opacity .2s 0s ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	// Close button
	&__close {
		position: absolute;
		right: $padding-default;
		top: $padding-default;
		z-index: 1;

		font-size: 3rem;
		line-height: 1rem;
		color: $color-white;
		text-decoration: none;

		&:hover {
			color: $color-white;
			text-decoration: none;
		}
	}

	// The actual box
	&__box {
		background: $color-white;

		width: 80%;
		max-width: 35rem;
		max-height: 75%;

		border-radius: .5rem;

		display: flex;
		flex-direction: column;
	}

	// Header
	&__header {
		padding: $padding-default;

		h2 {
			text-align: center;
			margin: 0;
		}
	}

	// Content
	&__content {
		padding: 0 $padding-default;
		overflow: auto;

		&:first-child {
			padding-top: $padding-default;
		}

		&:last-child {
			padding-bottom: $padding-default;
		}
	}

	// Footer
	&__footer {
		padding: $padding-default;
	}

	// Fix bug in Chrome where header/footer are too small for their contents
	&__header,
	&__footer {
		box-sizing: content-box;
	}
}
