// TODO: Documentation
.popup {
	background: $color-overlay;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0s .2s linear, opacity .2s 0s $transition-easing;

	// When open
	&:target,
	&.open {
		transition: transform 0s 0s linear, opacity .2s 0s $transition-easing;
		opacity: 1;
		transform: translateY(0);
	}

	// Close button
	&__close {
		position: absolute;
		right: $padding-default;
		top: $padding-default;
		z-index: 1;

		font-size: 3rem;
		line-height: 1rem;
		color: $color-white;
		text-decoration: none;

		transform: scale(1);

		&:hover {
			transform: scale(1.1);
			color: $color-white;
			text-decoration: none;
		}
	}

	// The actual box
	&__box {
		background: $color-white;

		width: 80%;
		max-width: 45rem;
		max-height: 90%;

		position: relative;
		overflow: auto;
		padding: $padding-large;

		border-radius: .5rem;

		.popup__close {
			color: inherit;

			&:hover {
				color: inherit;
			}
		}
	}
}
