/***
    title: Primary/Secondary
    section: Grid
    description: Super basic primary/secondary content columns when you really don't need an entire grid system.
    example:
        <div>
            <div class="primary-content">
                <p>Primary content here</p>
            </div>
            <div class="secondary-content">
                <p>Secondary content here</p>
            </div>
        </div>
        <div>
            <div class="secondary-content">
                <p>Reversed order here</p>
            </div>
            <div class="primary-content">
                <p>Primary content here</p>
            </div>
        </div>
***/
@media #{$bp-large} {
	.primary-content {
		@include clearfix;
		width: calc(#{$primary-content-width} - #{$gutter-large / 2});
		float: left;
	}

	.secondary-content {
		@include clearfix;
		width: calc(#{100% - $primary-content-width} - #{$gutter-large / 2});
		float: left;
	}

	.primary-content + .secondary-content {
		margin-left: $gutter-large;
	}

	.secondary-content + .primary-content {
		margin-left: $gutter-large;
	}

	.primary-content + .secondary-content + * {
		clear: both;
	}

	.secondary-content + .primary-content + * {
		clear: both;
	}

	// When used on wrapping element
	.primary-secondary {
		@include clearfix;
	}

	.primary-secondary > * {
		@include clearfix;
		width: calc(#{$primary-content-width} - #{$gutter-large / 2});
		float: left;
		margin-right: $gutter-large;
	}

	.primary-secondary > :last-child {
		@include clearfix;
		width: calc(#{100% - $primary-content-width} - #{$gutter-large / 2});
		float: left;
		margin-right: 0;
	}
}

@media #{$bp-large-max} {
	.primary-content,
	.secondary-content,
	.primary-secondary > * {
		margin-bottom: $margin-default;
	}
}
