$button-padding-horizontal: 2.4rem !default;
$button-padding-vertical: .8rem !default;
$button-empty-padding-horizontal: 2rem !default;

$button-border-radius: 2rem !default;

$button-color: #06f !default;
$button-fade: 0 !default;
$button-shadow: false !default;

$button-text-shadow: false !default;
$button-text-color: #fff !default;
$button-line-height: 1.2 !default;
$button-font-size: 1rem !default;
$button-font-weight: bold !default;
$button-text-transform: normal !default;

$button-colors: (
	"blue": #06f,
	"red": #600
) !default;
