$color-body-bg: #fff !default;
$color-border: rgba(100, 100, 100, .5) !default;
$color-shadow: rgba(0, 0, 0, .2) !default;
$color-overlay: rgba(0, 0, 0, .5) !default;
$color-gray: gray !default;
$color-darkgray: darkgray !default;
$color-white: #fff !default;
