$color-form-field-bg: #fff !default;
$color-form-success: #060 !default;
$color-form-error: #600 !default;
$color-form-placeholder: #999 !default;
$color-form-text: #333 !default;

$form-padding-horizontal: 1rem !default;
$form-padding-vertical: .8rem !default;

$form-border: true !default;
$form-border-radius: .2rem !default;

$form-select-bg: #fff !default;
$form-select-border: false !default;
$form-select-border-radius: .2rem !default;
$form-select-arrow: "assets/select-arrow.svg" !default;
$form-select-arrow-size: .5rem !default;
$form-select-padding-horizontal: .4rem !default;
$form-select-padding-vertical: .4rem !default;

$form-range-bg: #bbb !default;
$form-range-height: .25rem !default;
$form-range-border: false !default;
$form-range-border-radius: .2rem !default;
$form-range-thumb-bg: #333 !default;
$form-range-thumb-radius: .75rem !default;
$form-range-thumb-border: false !default;
$form-range-thumb-border-radius: 50% !default;
$form-range-thumb-shadow: false !default;
