$color-form-field-bg: #fff !default;
$color-form-success: #060 !default;
$color-form-error: #600 !default;
$color-form-placeholder: #999 !default;
$color-form-text: #333 !default;

$form-padding-horizontal: 1em !default;
$form-padding-vertical: .8rem !default;

$form-border: true !default;
$form-border-radius: .2rem !default;
