$site-width: 960px !default;
$site-width-max: 90% !default;

$margin-small: .5rem !default;
$margin-default: 1rem !default;

$padding-default: 1rem !default;

$gutter-default: 1rem !default;

$section-padding: 2rem !default;
$section-slant: 3rem !default;

$top-slant: polygon(0 #{$section-slant}, 100% 0, 100% 100%, 0 100%) !default;
$bottom-slant: polygon(0 0, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%) !default;
$top-bottom-slant: polygon(0 #{$section-slant}, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%) !default;
