$site-width: 960px !default;
$site-width-max: 90% !default;

$margin-small: .5rem !default;
$margin-default: 1rem !default;

$padding-default: 1rem !default;

$gutter-default: 1rem !default;

$section-padding: 2rem !default;
$section-padding--bp-medium: 3rem !default;
