$site-width: 90% !default;
$site-width-max: 960px !default;

$margin-small: .5rem !default;
$margin-default: 1rem !default;

$padding-default: 1rem !default;

$gutter-default: 1rem !default;

$section-padding: 2rem !default;
