$bp-small: '(min-width: 400px)' !default;
$bp-small-max: '(max-width: 399px)' !default;

$bp-medium: '(min-width: 760px)' !default;
$bp-medium-max: '(max-width: 759px)' !default;

$bp-large: '(min-width: 1020px)' !default;
$bp-large-max: '(max-width: 1019px)' !default;

$bp-x-large: '(min-width: 1600px)' !default;
$bp-x-large-max: '(max-width: 1599px)' !default;
