// Button size
$button-padding-horizontal: 2rem !default;
$button-padding-vertical: .6rem !default;
$button-empty-padding-horizontal: $button-padding-horizontal !default;
$button-small-percentage: .8 !default;

$button-transition: false !default;

// Button border
$button-border-width: 2px !default;
$button-border-style: solid !default;
$button-border-color: false !default; // false makes non ghost buttons have 0 border
$button-border-radius: .2rem !default;

// Button background
$button-color: #777 !default;
$button-gradient: 0 !default;
$button-shadow: false !default;

// Button text
$button-text-shadow: false !default;
$button-text-color: #fff !default;
$button-line-height: 1.2 !default;
$button-font-size: 1rem !default;
$button-font-weight: bold !default;
$button-font-style: normal !default;
$button-text-transform: none !default;

$button-colors: (
	"red": #600
) !default;
