$icon-margin: .4em !default;
$icon-round-color: #369 !default;
$icon-large-size: 2em !default;
$icon-round-size: 2.2em !default;

// Define more to use icon--red etc
$icon-colors: (
	"blue": #06f
) !default;
