// Max site width (@container and @section use this)
$site-width: 960px !default;

// .primary-content's width
$primary-content-width: 70% !default;

// Margins (margins beneath elements)
$margin-small: .5rem !default;
$margin-default: 1rem !default;
$margin-large: 2rem !default;
$margin-x-large: 4rem !default;

// Paddings (inner padding of boxes)
$padding-small: .5rem !default;
$padding-default: 1rem !default;
$padding-large: 2rem !default;
$padding-x-large: 4rem !default;

// Gutters (margin between columns)
$gutter-default: 1rem !default;
$gutter-large: 2rem !default;

// Section paddings
$section-padding-horizontal: 1rem !default; // Distance from edge of screen to inner width in low res
$section-padding: 3rem !default;
$section-slant: 3rem !default;

// Slants (used by section--slanted)
$top-slant: polygon(0 #{$section-slant}, 100% 0, 100% 100%, 0 100%) !default;
$bottom-slant: polygon(0 0, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%) !default;
$top-bottom-slant: polygon(0 #{$section-slant}, 100% 0, 100% calc(100% - #{$section-slant}), 0 100%) !default;

// Transition speeds
$transition-easing: ease-out !default;
$transition-default: .2s !default;
$transition-slow: .4s !default;
