@mixin fixed-after-far-scroll ($bg, $shadow: false) {
	transition: background-color .25s ease-out;
	transform: translateY(0);

	// As soon as the user has scrolled down far - fix the header
	html.has-scrolled-down-far & {
		background: $bg;
		position: fixed;
		transform: translateY(-100%);
	}

	// When the user has scrolled down far, then scrolled up, animate the header from now on
	html.has-scrolled-down-far.has-scrolled-up & {
		transition: all .25s ease-out;
	}

	// When the user has scrolled down far and starts scrolling up - reveal the header
	html.has-scrolled-down-far.scrolling-up-far & {
		transform: translateY(0);
		transition: all .25s ease-out;

		@if ($shadow) {
			box-shadow: $shadow;
		}
	}
}
