@mixin osx-dock {
	> * {
		opacity: 1;
		transform: scale(1);
		transition: all .1s ease-out;
	}

	&:hover > *,
	&.active > * {
		opacity: .6;
		transform: scale(.9);
	}

	&:hover > :hover,
	&.active > .active {
		opacity: 1;
		transform: scale(1.1);
	}
}

.osx-dock {
	@include osx-dock;
}
