// http://tympanus.net/codrops/2012/04/17/rotating-words-with-css-animations/
@mixin rotate-elements ($num: 3, $delay: 5) {
	$percent-per-step: 100 / $num;
	$animation-start: 0;
	$animation-reveal: ($percent-per-step / 100) * 5;
	$animation-hide: ($percent-per-step / 100) * 95;
	$animation-stop: $percent-per-step;

	@keyframes rotate-elements {
		#{$animation-start}% {
			opacity: 0;
			transform: translateY(-1rem);
		}

		#{$animation-reveal}% {
			opacity: 1;
			transform: translateY(0);
		}

		#{$animation-hide}% {
			opacity: 1;
			transform: translateY(0);
		}

		#{$animation-stop}% {
			opacity: 0;
			transform: translateY(1rem);
		}
	}

	min-width: 200px; // Arbitrary - use JS to set to tallest child's height instead
	min-height: 200px;
	position: relative;

	> * {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;

		opacity: 0;
		transform: translateY(-1rem);

		animation: rotate-elements;
		animation-timing-function: ease-out;
		animation-duration: #{$delay * $num}s;
		animation-iteration-count: infinite;
		animation-delay: 0s;

		@include increment-transition('*', $delay, $num, 0, animation);
	}
}
