@mixin slanted ($where: 'both', $color: #fff, $amount: 2rem, $padding: 2rem) {
	position: relative;

	&:before,
	&:after {
		background: $color;
		display: none;
		content: "";
		position: absolute;
		left: 0;
		top: -1px;
		right: 0;
		height: $amount;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
	}

	&:after {
		top: auto;
		bottom: -1px;
		clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
	}

	@if ($where == 'top') {
		padding-top: $amount + $padding;

		&:before {
			display: block;
		}
	}
	@elseif ($where == 'bottom') {
		padding-bottom: $amount + $padding;

		&:after {
			display: block;
		}
	}
	@else {
		padding-top: $amount + $padding;
		padding-bottom: $amount + $padding;

		&:before,
		&:after {
			display: block;
		}
	}
}
