@mixin burger-menu-icon ($color: $color-link, $size: 2rem, $thickness: .25rem) {
	$transition: .2s;
	$height: $size;
	$width: $size * 1.5;

	// background: linear-gradient(to bottom, $color, $color $thickness, transparent $thickness, transparent calc(100% - #{$thickness}), $color calc(100% - #{$thickness}));

	display: block;
	width: $width;
	height: $height;
	min-height: 0;

	border-top: $thickness solid $color;
	border-bottom: $thickness solid $color;

	position: relative;
	z-index: 99;

	transition: height $transition $transition ease-out, border-width $transition $transition ease-out, min-height 0s 0s linear;

	&:before,
	&:after {
		background: $color;

		display: block;
		content: "";
		height: $thickness;

		position: absolute;
		left: 0;
		top: 50%;
		right: 0;

		transform: translateY(-50%);
		transition: transform $transition 0s ease-out;
	}
}

@mixin burger-menu-icon-open ($color: $color-link, $size: 2rem) {
	$transition: .2s;

	height: 0;
	min-height: $size;
	border-width: 0;

	transition: height $transition 0s ease-out, border-width $transition 0s ease-out, min-height 0s $transition linear;

	&:before,
	&:after {
		transition: transform $transition $transition ease-out;
	}

	&:before {
		transform: translateY(-50%) rotate(45deg);
	}

	&:after {
		transform: translateY(-50%) rotate(-45deg);
	}
}
