@mixin fixed-after-far-scroll ($bg, $shadow: false) {
	transition: background-color $transition-default $transition-easing;
	transform: translateY(0);

	// As soon as the user has scrolled down far - fix the header
	html.has-scrolled-down-far & {
		@if ($bg) {
			background: $bg;
		}

		position: fixed;
		transform: translateY(-100%);
	}

	// When the user has scrolled down far, then scrolled up, animate the header from now on
	html.has-scrolled-down-far.has-scrolled-up & {
		transition: all $transition-default $transition-easing;
	}

	// When the user has scrolled down far and then scrolls up far - reveal the header
	html.has-scrolled-down-far.scrolling-up-far & {
		transform: translateY(0);
		transition: all $transition-default $transition-easing;

		@if ($shadow) {
			box-shadow: $shadow;
		}
	}
}
