@mixin separated-list ($separator: ' | ') {
	margin-left: 0;
	padding-left: 0;
	list-style: none;

	> * {
		display: inline-block;

		&:not(:last-child):after {
			content: $separator;
			margin: 0 $margin-small;
		}
	}
}
